
	
/*======================================================= MUSIC DOWNLOADS ===============================================================================*/
.music-item {
	width: 100%;
	display: block;
	}

.music-item h2 {
	background:url(../images/music-ribbon.png) no-repeat left;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-shadow:none !important;
	}

.dl-containers {text-align:center;}

.dl-containers a, .dl-container a {
	display: inline-block;
	padding-left: 30px;
	background:url(../images/dl-arrow.png) no-repeat left;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	color: #8f9fd2;
	text-decoration:none;
	margin-right: 5px;
	}
	
/*====================================================== VIDEOS =========================================================================================*/
#video-list li{
	margin-left: -25px !important;
	padding: 0 !important;
	overflow: hidden;
	}
	
.list-title {
	display:inline;
	margin: 0;
	padding: 0 0 5px 5px;
	color: #000;
	font-weight: bold;
	font-size:12px!important;
}

.listing {
	padding: 5px 5px 5px 5px;
  	margin: 2px 0;
  display: block;
  border-bottom: 1px solid #eee;
}

.listing a{
	outline: none;
	text-decoration: none;
	color: #000;
	}

.list-icon {float:left; display: inline; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;}

.list-desc {
	width: 100px;
	padding-left: 5px;
	font-size:11px !important;
	color: #8f9fd2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	}

.list-date {
	display:inline;
	margin: 0;
	padding: 0 0 5px 5px;
	color: #8f9fd2;
	font-size:10px;
}


/*=========================================== PHOTOS PAGE =======================================================================================*/
ul.gallery {width: 100%;}

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 40%; padding:5px;}
.gallery li a { display: block; margin: 5px; border: 2px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }


/*================================================================ PROMOS =======================================================================*/
.promo-section {
	width: 100%;
	background: #fff;
	height: auto;
	padding-top: 10px;
	}

.promo-section p, .promo-section ol li {
	padding-left: 10px;
	font-size: 12px;
	margin: 0 auto;
	width: 90%;
	color: #8f9fd2;
	padding-bottom: 5px;
	word-wrap: break-word;
	}
	
.promo-section h2, .promo-section h3, .promo-section h4 {
	padding-left: 10px;
	color: #000;
	}
	
.promo-section span {
	background-color: #8f9fd2;
	}

.promo-section a {
	text-decoration:none !important;
	text-align:center;
	font-size: 16px;
	text-shadow:none;
	display:block;
	color:#fff !important;
	background: #8f9fd2 !important;
	padding: 10px 0;
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
a.still {
	text-decoration:underline !important;
	font-size: 12px;
	font-weight:normal;
	text-shadow:none;
	display:inline !important;
	color:#8f9fd2 !important;
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0 !important;
	word-wrap: break-word !important;
	}
	

/*============================================================== REGISTRATION ==========================================================================*/
.registration input[type="text"], .registration input[type="tel"]{
	margin: 5px 0 !important;
	}
	
.registration label {
	color: #fff !important;
	text-shadow:none !important;
	}
	
.registration input[type="submit"]{
	color: #fff !important;
	}
	
.registration .ui-btn {
	background: #8f9fd2 !important;
	}
	
/*============================================ FEED FETCHER ====================================================================*/
.feed_fetcher_table {
	width:95%;
	margin: 0 auto;
	}

.feed_fetcher_table tr {
	border-bottom:#CCC 1px solid;
	}

.feed_fetcher_table td:first-child {
	width:25%;
	text-align:center;
	font-size: 11px;
	text-transform:lowercase;
	}

.feed_fetcher_table td {
	width: 75%;
	padding: 5px 2px;
	}

.feed_fetcher_table td, .feed_fetcher_table a {
	color: #8f9fd2;
	font-size: 12px;
	vertical-align:top;
	}
	
.feed_fetcher_table