<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.ikariworks.gbeats"
        version   = "2.0.0">
    <name>GBeats</name>

    <description>
       GBeats is great project
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        Xybersolutions
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />
   
</widget>
