@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'opificiobold';
    src: url('opificio_bold-webfont.eot');
    src: url('opificio_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opificio_bold-webfont.woff') format('woff'),
         url('opificio_bold-webfont.ttf') format('truetype'),
         url('opificio_bold-webfont.svg#opificiobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opificioregular';
    src: url('opificio-webfont.eot');
    src: url('opificio-webfont.eot?#iefix') format('embedded-opentype'),
         url('opificio-webfont.woff') format('woff'),
         url('opificio-webfont.ttf') format('truetype'),
         url('opificio-webfont.svg#opificioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: -moz-linear-gradient(top, #def1f9 0%, #35adde 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#def1f9), color-stop(100%,#35adde))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #def1f9 0%,#35adde 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #def1f9 0%,#35adde 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #def1f9 0%,#35adde 100%)!important; /* IE10+ */
	background: linear-gradient(to bottom, #def1f9 0%,#35adde 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def1f9', endColorstr='#35adde',GradientType=0 )!important; /* IE6-9 */
	
	overflow: none !important;
	}
	
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
	font-family:'opificioregular';
	}
	
.ui-content {
	height: none !important;
	}

.ui-navbar ul{
	background:url(../images/nav-bar.png) repeat-x;
	}

.ui-navbar .ui-btn-inner {padding:0.55em 8px 0.55em !important;}

.ui-navbar .ui-btn-inner .ui-btn-text {font-size:14px !important;}
	
.ui-dialog {
	background: rgba(0, 0, 0, 0.5) !important;
}

#le-menu, #le-modal, #le-modal2 {
	min-height: none !important;
	}

.thebody {
	margin: 10px auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	}
	
.ui-select-menu-list .ui-btn-up-a {
	background-image:none;
	background-color:#333;
	text-shadow:none;
	border:none;
	}

.all-header {
	width: 100%;
	background: #fff !important;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	}

.header-container {
	float: left;
	display: inline-block;
	width: 50%;
	height: 41px;
	text-align: center;
	padding: 10px 0;
	}

.header-container img {
	width: auto;
	height: 30px;
	}

.btn-back, .btn-ddmenu {
	width: 25%;
	display: inline-block;
	height: 41px;
	vertical-align:top;
	}

.btn-back {
	float: left;
	}
	
.btn-ddmenu {
	float: right;
	}
	
.btn-back a {
	background:url(../images/top-left-btn.png) no-repeat;
	}
	
.btn-ddmenu a {
	background:url(../images/top-right-btn.png) right no-repeat;
	outline:none;
	}

.btn-ddmenu .ui-icon {background:none; width:100%;}

.btn-ddmenu .ui-icon, .btn-ddmenu .ui-icon-shadow, .btn-ddmenu .ui-btn-corner-all, .btn-ddmenu .ui-btn-inner {
	-moz-border-radius:0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow:0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
	}

.btn-ddmenu .ui-select {
	float:right;
	width: 100%;
	height: 41px;
	}

.btn-ddmenu .ui-btn-corner-all {
	border:none !important;
	width: 100%;
	height: 41px;
	}

.btn-ddmenu .ui-btn-text {
	color:transparent;
	text-shadow:none;
	}

.btn-back a, .btn-ddmenu a {
	display:block;
	text-decoration:none;
	color:#ea6aa5 !important;
	font-size:14px;
	font-weight: bold !important;
	line-height: 41px;
	}

.ui-selectmenu {
	background: #fff;
	border:none;
	text-shadow:none;
	color: #000;
	}
	
.clearfix {
	clear:both;
	}
	
.gbeats-banner {
	display:block;
	width: 100%;
	}

.gbeats-banner img {
	width: 100%;
	height: auto;
	}

.title-page-container {
	width: 100%;
	display: block;
	height: 41px;
	background:rgba(0, 0, 0, 0.7);
	}

.title-page-text {
	width: 100%;
	}
	
.title-page-text h1 {
	margin: 0 0 0 10px;
	font-size: 1.25em;
	color: #fff !important;
	line-height: 41px;
	text-shadow:none !important;
	}
	
.the-footer {
	height: auto;
	margin-bottom: 0 !important;
	bottom: -5px;
	}
	
.the-footer img{
	width: 100%;
	height: auto;
	}	
	
/*======================================================== iSCROLL STYLES ==========================================================================*/
#wrapper {
	display:block;
	width:100%;
	background:url(../images/footer-bg.png) no-repeat;
	overflow-x:auto;
	height: 41px;
}

#scroller {
	width:100%;
	height:41px;
	float:left;
	padding:0;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:41px;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller li {
	display:block;
	float:left;
	padding:5px 0 0 0;
	height: 41px;
	background-color:transparent;
	font-size:14px;
}	
	
/*======================================================== MODAL STYLES ============================================================================*/
.ui-collapsible-set .ui-btn-text {
	color: #8f9fd2 !important;
	text-shadow:none !important;
	}

.songinfo_modal {
	background: #0173CF;
	padding: 5px !important;
}

.songinfo_modal .song-details {
	width: 100%;
	display: block;
	}
	
.songinfo_modal .album-art {
	display:inline-block;
	width: 100px;
	height: auto;
	}
	
.songinfo_modal .album-art img {
	width: 100%;
	height: auto;
	}
	
.songinfo_modal .the-song {
	position:relative;
	top:-18px;
	margin: 0 !important;
	padding: 0;
	display: inline-block;
	width: 50%;
	height: 50px;
	color: #fff;
	text-shadow: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
	
.songinfo_modal .the-song h5, .songinfo_modal .the-song h6{
	margin: 0;
	padding: 4px 0 0 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}

.songinfo_modal  .description{
	background:none;
}

.songinfo_modal  .description  h3{
	background: #333333;
    font-family: 'opificioregular';
	color: #FFFFFF !important;
	padding: 5px 0 5px 5px;
	text-shadow: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin:0 !important;
}

.songinfo_modal  .description  h5{
	padding: 5px 0 5px 5px;
 	color: #fff !important;
	text-shadow: none;
	margin:5px 5px 10px 5px !important;
	display: block;
}

.lemodal, .lemenu-modal  {
	background: #fff;
	}
	
.lemodal h5, .lemodal h6 {padding: 0 10px !important;}

.lemodal a {margin: 0 10px;}

.lemodal h2 {
	font-size: 14px;
	}

.lemodal .ui-btn {
	background: #8f9fd2 !important;
	}
	
.lemodal .ui-btn-text {
	color: #fff !important;
	}

.lemodal-header {
	background-color: #000;
	height: 50px;
	}
	
.lemodal-header .ui-title {
	color: #fff !important;
	text-shadow:none;
	}
	
.lemenu-modal ul {
	list-style:none;
	padding: 0 !important;
	}
	
.lemenu-modal li {
	padding: 10px;
	}
	
.lemenu-modal li a {
	display: block;
	text-decoration: none;
	}
	
.lemenu-modal li:hover, .lemenu-modal li:hover a, .lemenu-modal li a:hover {
	background: #2489CE;
	color: #fff !important;
	text-shadow: none !important;
	}
	
.ui-dialog .ui-content {
	padding: 0 !important;
	}
	
/*======================================================== LEGALESE BUTTON ITEMS ====================================================================*/
table td {
	padding: 0 10px;
}

.legals .ui-btn {
	background: #8f9fd2 !important;
	}
	
.legals .ui-btn-text {
	color: #fff !important;
	}

.verify {
	padding: 0 10px;
}

/*======================================================== HOME SCREEN TILES =========================================================================*/
.upper-section, .lower-section {
	width: 100%;
	height: auto;
	padding: 5px;
	margin-bottom: 10px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	}
	
.upper-section {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #0173cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#0173cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#0173cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#0173cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#0173cf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#0173cf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0173cf',GradientType=0 ); /* IE6-9 */
	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	
	min-height: 320px;
	height: auto;
	}

.upper-section p {
	font-size: 12px;
	color: #000;
	padding: 1px 1px 5px 1px;
	margin: 1px 5px;
	text-shadow:none;
	}

.upper-section h3 {	
	color: #000;
	padding: 5px 1px 8px 1px;
	margin: 5px 5px;
	}
	
.upper-section p a {
	color:#fff !important;
	}
	
.upper-section p span {
	color: #8f9fd2;
	font-weight: bold;
	margin-right: 5px;
	}
	
.upper-section .ui-listview {
	margin: 0 !important;
	}
		
.artist-tiles {
    display: block;
	height: auto;
	overflow: none;
    }
	

.tiles-row-1, .tiles-row-2, .tiles-row-3 {
	width: 100%;
	display: block;
	}
	
.tiles-row-1 {
	padding: 0 0 3px 0;
	margin: 0 0 10px 0;
	overflow:hidden;
	background: #000;
	}
	
.tiles-row-2{
	padding: 0;
	margin: 0;
	}

.tiles-row-1 .featured-label {
	float:left;
	width:15%;
	height:auto;
	}
	
.tiles-row-1 .top-hits-label {
	float:left;
	width:15%;
	height:auto;
	}
	
.tiles-row-2 h2 {
	color: #99ed35 !important;
	text-shadow: none !important;
	font-weight:normal;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 0 10px 5px;
	margin: 0;
	background: #000;
	}

.featured-label img, .top-hits-label img {
	width: 85%;
	height: auto;
	display:inline-block;
	}
	
.details-bg {
	width: 100%;
	position:relative;
	display: inline-block;
	z-index: 5;
	background:url(../images/bg-titles.png) repeat;
	}
	
.smaller-details {
	width: 100%;
	position:relative;
	display: inline-block;
	bottom: 30px;
	z-index: 5;
	background:url(../images/bg-titles.png) repeat;
	}
	
.details-bg h5, .smaller-details h5 {
	text-align:left;
	margin: 5px -5px 5px 5px !important;
	text-shadow: none !important;
	height:inherit;
	}	

.featured-artist-image, .top-hits-image {
	width: 85%;
	height: auto;
	background: transparent;
	vertical-align: middle;
	display:inline-block;
	margin-bottom: -25px;
	position:relative;
	}

.featured-artist-image { float:left; }

.top-hits-image { float:left; }
	
.featured-artist-image h5, .local-artist .details-bg h5 {color: #fff !important;}
	
.local-artist {
	float:left;
	width: 50%;
	height: auto;
	background: transparent;
	vertical-align: middle;
	margin: 0 0 -25px 0;
	position:relative;
	}
	
.new-artists {
	float:right;
	width: 50%;
	height: auto;
	background: transparent;
	vertical-align: middle;
	margin: 0 auto;
	position:relative;
	}
	
.local-artist li, .new-artists li {
	width: inherit;
	height: auto;
	text-align: center;
}
	
.new-artists h5 {color: #009dda !important;}

.gens, .decs, .promo-link {
	display:inline-block;
	width: 50%;
	height: auto;
	background: transparent;
	vertical-align: middle;
	margin-bottom: -25px;
	overflow:hidden;
	}
	
.gens, .promo-link {
	float:left;
	}
	
.decs {
	float:right;
	}
	
.gens h5, .decs h5 {color: #fff !important;}

.more-subs {
	display:inline;
	float:left;
	width: 33.3%;
	height: auto;
	background: transparent;
	vertical-align: middle;
	margin-bottom: -25px;
	}
	
.more-subs h5 {color: #fff !important;}
	
.more-hits {
	float:right;
	width: 50%;
	height: auto;
	background: transparent;
	vertical-align: middle;
	margin: 0 0 -25px 0;
	position:relative;
	}
	
.more-hits h5 {color: #99ed35 !important;}

.featured-artist-image img, .local-artist img, .new-artists img, .more-hits img, .more-subs img, .gens img, .decs img, .promo-link img{
	width:100%;
	height:auto;
	border: none;
	padding: 0 !important;
	margin: 0 !important;
	}
	
.lower-section {
	background: #7ecbea; /* Old browsers */
	background: -moz-linear-gradient(top,  #7ecbea 0%, #70c2e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ecbea), color-stop(100%,#70c2e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7ecbea 0%,#70c2e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7ecbea 0%,#70c2e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7ecbea 0%,#70c2e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7ecbea 0%,#70c2e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ecbea', endColorstr='#70c2e4',GradientType=0 ); /* IE6-9 */

	-moz-border-radius: 10px;
	border-radius: 10px;
	
	min-height: 200px;
	}
	
.slide-featured, .slide-top-hits {
	position: relative;
	margin: 0 !important;
	display:block;
	}

.slide-featured li, .slide-top-hits li { 
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	list-style: none;
	}
	
.slide-local, .slide-new, .slide-more {
	position: relative;
	margin: 0 !important;
	display:block;
	}
	
.slide-local li, .slide-new li, .slide-more li {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	list-style: none;
	}
	
.slide-featured li:first-child, .slide-local li:first-child, .slide-new li:first-child, .slide-more li:first-child, .slide-top-hits li:first-child{ 
	display: block;
	}
	
.slide-local img, .slide-new img, .slide-more img {
	width: 100%;
	height: auto;
}
	
	
/*======================================================= FEATURED ARTISTS ==============================================================================*/
.featured-artists {
	display:block;
	width: 100%;
	height: auto;
	}
	
.featured-artists img {
	width: 100%;
	height: auto;
	position: relative;
	}
	
/*======================================================= RANKING DOWNLOADS ===============================================================================*/
.rank-item {
	width: 100%;
	display: block;
	background: #1c3f95;
	color: #fff;
	text-shadow: none !important;
	height: 50px;
	min-height: 50px;
	margin: 0 0 5px 0;
	}
	
.dl-ftm {
	position: relative;
	top:-20px;
	width: 10%;
	display:inline-block;
	text-align:center;
	}

.dl-ftm a{
	display: block;
	background:url(../images/dl-arrow.png) no-repeat left;
	height: 50px;
	line-height: 50px;
	text-decoration:none;
	}

.ranking {
	vertical-align:top;
	display:inline-block;
	text-align: right;
	padding-right: 10px;
	width: 10%;
	background: #99ed35;
	color: #fff;
	font-size:16px;
	height: auto;
	line-height: 50px;
	font-family: 'opificiobold';
	}
	
.album-art {
	display:inline-block;
	width: 50px;
	height: auto;
	}
	
.album-art img {
	width: 100%;
	height: auto;
	}
	
.the-song {
	position:relative;
	top:-18px;
	margin: 0 !important;
	padding: 0;
	display: inline-block;
	width: 50%;
	height: 50px;
	color: #fff;
	text-shadow: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
	
.the-song h5, .the-song h6{
	margin: 0;
	padding: 4px 0 0 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
	
	
/*======================================================= MORE HITS =====================================================================================*/
.the-hits {
	background-color: transparent !important;
	padding: 0;
	}
	
.the-hits h3{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #dadada 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#dadada 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#dadada 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#dadada 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#dadada 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
	
	margin: 2px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	}
	
.the-hits .ui-btn-text {
	font-family: 'opificioregular';
	color: #009dda !important;
	text-shadow: none !important;
	}

.the-hits .ui-icon, .ui-icon-searchfield::after{
	background-color: #009dda !important;
	}
	
.hit-items {
	width: 100%;
	display: block;
	margin: 2px 0;
	background: #1c3f95;
	color: #fff;
	padding: 0;
	}
	
.song-details {
	width: 100%;
	display: block;
	}

.dl-containers {
	text-align:center;
	display:block;
	position: relative;
	top: -10px;
	}

.dl-containers a {
	display: inline-block;
	padding-left: 30px;
	background:url(../images/dl-arrow.png) no-repeat left;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	color: #fff !important;
	text-shadow: none !important;
	text-decoration:none;
	margin-right: 5px;
	}
	
/*======================================================= PROMOS, GENRES, DECADES =======================================================================*/
.link-list {
	list-style:none;
	padding: 0 !important;
	margin: 5px;
	}
	
.link-list li {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 1%, #dadada 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 1%,#dadada 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 1%,#dadada 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 1%,#dadada 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 1%,#dadada 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
	}
	
.link-list img {
	width: 100%;
	height: auto;
	}
	
.link-list li a {
	display: block;
	text-decoration: none;
	color: #2489CE !important;
	text-shadow: none !important;
	}
	
.link-list li:hover, .link-list li:hover a, .link-list li a:hover {
	background: #2489CE;
	color: #fff !important;
	text-shadow: none !important;
	}
	
.link-list .ui-icon, .ui-icon-searchfield::after{
	background-color: #009dda !important;
	}